body {
    background-image: url(képek/négyzetrács.png);
    background-repeat: repeat;
    border-left: 15px solid sienna;
    border-right: 15px solid sienna;
    border-bottom: 20px solid sienna;
}

h1 {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    padding-top: 30px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.cím {
    margin-bottom: 30px;
    background-color: silver;
    border-bottom: 5px solid sienna;
}
